<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.master.repository.mapper.AuthExclusionMapper">
    <resultMap id="BaseResultMap" type="com.master.repository.entity.AuthExclusionPO">
        <id property="authId" column="auth_id_" jdbcType="VARCHAR"/>
        <result property="authIdObj" column="auth_id_obj_" jdbcType="VARCHAR"/>
        <result property="exclusionDesc" column="exclusion_desc_" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getAuthExclusionPO" resultMap="BaseResultMap">
        select auth_id_,
               auth_id_obj_,
               exclusion_desc_
        from rbac_auth_exclusion
        where auth_id_ = #{id}
    </select>

    <insert id="insert" keyColumn="auth_id_" keyProperty="authId" useGeneratedKeys="true">
        insert into rbac_auth_exclusion (auth_id_,
                                         auth_id_obj_,
                                         exclusion_desc_)
        values (#{po.authId},
                #{po.authIdObj},
                #{po.exclusionDesc})
    </insert>

    <delete id="deleteByKey">
        delete
        from rbac_auth_exclusion
        where auth_id_ = #{id}
    </delete>


    <update id="updateByKey">
        update rbac_auth_exclusion
        set auth_id_obj_    = #{authIdObj},
            exclusion_desc_ = #{exclusionDesc}
        where auth_id_ = #{id}
    </update>
</mapper>
