<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.master.repository.mapper.rbac.AuthMapper">
    <resultMap id="BaseResultMap" type="com.master.repository.entity.rbac.AuthPO">
        <id property="authId" column="auth_id_" jdbcType="VARCHAR"/>
        <result property="authName" column="auth_name_" jdbcType="VARCHAR"/>
        <result property="authType" column="auth_type_" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id_" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="getAuthPO" resultMap="BaseResultMap">
        select auth_id_,
               auth_name_,
               auth_type_,
               parent_id_
        from rbac_auth
        where auth_id_ = #{id}
    </select>

    <delete id="deleteByKey">
        delete
        from rbac_auth
        where auth_id_ = #{id}
    </delete>

    <insert id="insert" keyColumn="auth_id_" keyProperty="authId" parameterType="com.master.repository.entity.rbac.AuthPO"
            useGeneratedKeys="true">
        insert into rbac_auth (auth_id_,
                               auth_name_,
                               auth_type_,
                               parent_id_)
        values (#{po.authId},
                #{po.authName},
                #{po.authType},
                #{po.parentId})
    </insert>

    <insert id="insertSelective" keyColumn="auth_id_" keyProperty="authId"
            parameterType="com.master.repository.entity.rbac.AuthPO" useGeneratedKeys="true">
        insert into rbac_auth
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="authId != null">
                auth_id_,
            </if>
            <if test="authName != null">
                auth_name_,
            </if>
            <if test="authType != null">
                auth_type_,
            </if>
            <if test="parentId != null">
                parent_id_,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="authId != null">
                #{authId},
            </if>
            <if test="authName != null">
                #{authName},
            </if>
            <if test="authType != null">
                #{authType},
            </if>
            <if test="parentId != null">
                #{parentId},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.master.repository.entity.rbac.AuthPO">
        update rbac_auth
        <set>
            <if test="authName != null">
                auth_name_ = #{authName},
            </if>
            <if test="authType != null">
                auth_type_ = #{authType},
            </if>
            <if test="parentId != null">
                parent_id_ = #{parentId},
            </if>
        </set>
        where auth_id_ = #{authId}
    </update>

    <update id="updateByKey" parameterType="com.master.repository.entity.rbac.AuthPO">
        update rbac_auth
        set auth_name_ = #{authName},
            auth_type_ = #{authType},
            parent_id_ = #{parentId}
        where auth_id_ = #{authId}
    </update>
</mapper>
